---
layout: default
menu: home
css: ['index.css', 'sidebar-popular-repo.css']
---
<section class="jumbotron">
    <div class="container">
      <div class="col-md-4">
        <div class="col-md-5"></div>
        <div class="col-md-7">
        <img src="assets/images/profile.jpg" class="img-circle" alt="Cinque Terre" width="175" height="170">
      </div>
      </div>
      <div class="col-md-8">
        <h1><font face="Comic Sans MS">{{ site.name }}</font></h1>
        <span class="meta-info">- Geek, Web Developer and Tech Enthusiast</span>
        <div id="jumbotron-meta-info">
            <span class="meta-info">
                <font face="Comic Sans MS"><p class="blockquote"><em>"The only thing standing between you and your goal is the bullshit story you keep telling yourself as to why you can't achieve it."</em></p></font>
            </span>
            <!--<span class="meta-info hvr-grow">
                <span class="octicon octicon-organization"></span>
                <a href="{{ site.company_url }}" target="_blank">{{ site.company }}</a>
            </span>
            <span class="meta-info hvr-grow">
                <span class="octicon octicon-mark-github"></span>
                <a href="{{ site.github_url }}" target="_blank">@{{ site.name }}</a>
            </span>-->
        </div>
      </div>
    </div>
</section>

<section class="content container">

    <div class="row">

        <!-- Post List -->
        <div class="col-md-8">
          <font size=4 face="Ubuntu">
          <h1><b>Welcome to my webspace!!</b></h1>
          <br />
          <p>
            <b><font size=6>H</font></b>ello! Thanks for taking time to visit. I am Aaditya Thakkar and this is a tiny part of the web I call my own.
            I'm a B.tech student at DA-IICT, India. I am a part time web developer, open-source contributor, intern at appbase.io and sometimes writer.
            Everything I do of interest is kept here, so I can keep track of it all and maybe even inspire someone. so enjoy!
            <br /><br />
            I am very enthusiastic about working with computers and thus, I possess a variety of skills in this area.
            I enjoy programming very much and I am also well experienced with full-stack web development. I have done many open source projects and also contributed to many open source organizations.
            In addition to all these, I like to travel, read books and watch tv-series and movies a lot. I also write reviews of books I read. When I am not brainstorming
            with my code, I love hanging out with friends.
          </p>
        </font>
            <!-- Pagination -->
            {% include pagination.html %}

             <!-- Comments -->
            {% include disqus-comments.html %}
        </div>

        <div class="col-md-4">
          <div class="col-md-3"></div>
          <div class="col-md-9">
          <h3><b>Recent Activities</b></h3>
              <ol class="post-list">
                  {% for post in paginator.posts %}
                  <li class="post-list-item">
                      <h4 class="post-list-title">
                          <a class="hvr-underline-from-center" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                      </h4>
                      <p class="post-list-description">
                          {{ post.excerpt | strip_html | strip }}
                      </p>
                      <p class="post-list-meta">
                          <span class="octicon octicon-calendar"></span> {{ post.date | date: "%Y/%m/%d" }}
                      </p>
                  </li>
                  {% endfor %}
              </ol>
            </div>
        </div>

    </div>

</section>
