/** Only for index.html **/

.site-header{
    color: #fff;
    background: transparent;
}

.site-header #site-header-brand {
    color: #fff;
}

.site-header .site-header-nav-item {
    color: #ffffff;
}

.site-header a:hover {
    color: #4183c4;
}

.jumbotron {
    background-image: url("../images/blackorchid/blackorchid/blackorchid.png");
}

.site-header.site-header-nav-scrolled a {
    color: #fff;
}

.site-header.site-header-nav-scrolled #site-header-brand {
    color: #2e2e2e !important;
}

.site-header.site-header-nav-scrolled a:hover {
    color: #4183c4;
}
